# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

.vscode

# Directorios generados por Python
__pycache__/
.env

# Archivos de logs
*.log

# Archivos de base de datos SQLite
db.sqlite3

# Carpeta de archivos temporales
/tmp/

# Ignorar archivos pycache en cualquier nivel dentro de /chat_api/
/chat_api/**/__pycache__/

# Ignorar archivos pyc en cualquier nivel dentro de /chat_api/
/chat_api/**/*.pyc
