# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode
/vscode

# Directorios generados por Python
__pycach.vscode
*.pyc
*.pyo
__pycache__/
**/__pycache__/**
**/**/__pycache__/**e__/

# entorno virtual
.env

# Archivos de logs
*.log

# Archivos de base de datos SQLite
db.sqlite3

# Carpeta de archivos temporales
/tmp/
