<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Verificar cuenta</title>
</head>
<body>
    <p>Hola {{ user.first_name }},</p>
    <p>Tienes 3 días para activar tu cuenta. Si no lo haces, tu cuenta será eliminada.</p>
    <p>Activa tu cuenta en el siguiente enlace:</p>
    <a href="{{activation_link}}">Activar mi cuenta</a>

</body>
</html>
